{% extends "layout.html" %}


{% block content %}
    <h1>Login</h1>
    <form action="/login" method="POST">
        <div class="my_form__fieldset">
            <label class="my_form__label">Username:</label>
            <input type="text" name="username" id="name" class="my_form__input" />
        </div>

        <div class="my_form__fieldset">
            <label for="password" class="my_form__label">Password:</label>
            <input type="password" name="password" id="pass" class="my_form__input" />
        </div>

        <button class="my_button my_button1">Submit</button>

    </form>
{% endblock %}