{% extends "layout.html" %}

{% block content %}

    <div class="topnav">
        <a class="active" href="C:\Users\user\Bookstore\templates\index.html">Home</a> <!--should link to the home page-->
        <a href="#MyBooks">MyBooks</a> 
        <a href="#Recommendations">Recommendations</a> 
        <a href="#Recommendations">What's New</a> 
        <!--should link to the user's library-->
        <!-- <a href="#Home">Home</a> -->
        <!-- <a href="#about">About</a> -->
        <input type="text" name="search" placeholder="Search.." id="search">
    </div>

{% endblock %}