{% extends "layout.html" %}

{% block content %}

    <div class="my_topnav">
        <a class="my_active" href="C:\Users\user\Bookstore\templates\index.html">Home</a> <!--should link to the home page-->
        <a href="#MyBooks">MyBooks</a> 
        <a href="#Recommendations">Recommendations</a> 
        <a href="#Recommendations">What's New</a> 
        <!--should link to the user's library-->
        <!-- <a href="#Home">Home</a> -->
        <!-- <a href="#about">About</a> -->
        <input type="text" name="search" placeholder="Search.." id="my_search">
    </div>
    <div>
        <table>
            <tr>
                <th>Title</th> 
                <th>Author</th>
                <th>Genre</th>
                <th>Height</th>
                <th>Publisher</th>
            </tr>
            {% for book in books %}
                <tr>
                    <td>{{book.title}}</td>
                    <td>{{book.author}}</td>
                    <td>{{book.genre}}</td>
                    <td>{{book.length}}</td>
                    <td>{{book.publisher}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}