{% extends "layout.html" %}


{% block content %}
    <h1>Register</h1>
    <form action="/register" method="POST">
        <div class="form__fieldset">
            <label for="email" class="form__label">Email:</label>
            <input type="email" name="email" id="email" class="form__input" />
        </div>

        <div class="form__fieldset">
            <label for="username" class="form__label">Username:</label>
            <input type="text" name="username" id="name" class="form__input" />
        </div>

        <div class="form__fieldset">
            <label for="password" class="form__label">Password:</label>
            <input type="password" name="password" id="password" class="form__input" />
        </div>

        <div class="form__fieldset">
            <label for="password" class="form__label">Confirm Password:</label>
            <input type="password" name="password2" id="password2" class="form__input" />
        </div>

        <div class="form__fieldset">
            <label for="phonenumber" class="form__label">Phone Number:</label>
            <input type="text" name="phonenumber" id="phonenumber" class="form__input" />
        </div>
        <button class="button button1">Submit</button>
    </form>
{% endblock %}